.App {
  text-align: center;
}

li:hover {
  background-color: #772139;
  color: white;
}

li.correct {
  background-color: rgb(53, 212, 53);
}

li.selected:not(correct) {
  background-color: rgb(206, 58, 58);
}
